.Home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  overflow: hidden;
  position: relative;

  &__site {
    padding: 50px;
    display: flex;
    align-items: center;

    &--left {
      opacity: 0;
      background-color: $weathered-green;
    }

    &--right {
      background-color: #fff;
      justify-content: center;
    }

    &__circle {
      &--bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
      }
    }
  }

  &__title-wrapper {
    text-align: center;
    margin-bottom: 80px;
    max-width: 600px;

    &__title {
      font-size: 68px;
      line-height: 1;
      margin-bottom: 25px;
      opacity: 0;

      &--bold {
        font-weight: 700;
        display: block;
      }
    }

    &__subtitle {
      max-width: 70%;
      margin-bottom: 25px;
      opacity: 0;
    }

    &__separator {
      height: 4px;
      width: 80px;
      background-color: $green-light;
      margin: 15px 0 25px;
      border-radius: 8px;
      opacity: 0;
    }
  }

  &__go-to-table {
    position: absolute;
    right: 0;
    top: 50%;
    border-color: transparent;
    outline: 3px solid $green-dark;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, #fff 0% 50%, $weathered-green 50% 100%);
    transform: translate(50%, -50%);
    cursor: pointer;
    transition: .5s;

    &:hover {
      transform: translate(50%, -50%) scale(1.1);
      outline: 5px solid $green-dark;
    }
  }
}